In [1]:
import pandas as pd
from sqlalchemy import create_engine
import time as time
import pyarrow
import datetime as dt

In [2]:
df_pq = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2019-09.parquet")

In [2]:
df_csv = pd.read_csv("green_tripdata_2019-09.csv", low_memory=False)

In [3]:
engine=create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [4]:
df_csv.lpep_pickup_datetime = pd.to_datetime(df_csv.lpep_pickup_datetime)
df_csv.lpep_dropoff_datetime = pd.to_datetime(df_csv.lpep_dropoff_datetime)

In [5]:
print(pd.io.sql.get_schema(df_csv, "taxis_amarillos", con=engine))

CREATE TABLE taxis_amarillos (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [6]:
df_csv.head(n=0).to_sql(name = "taxis_verdes", con = engine, if_exists = "replace")

0

In [7]:
df_csv.to_sql(name = "taxis_verdes", con = engine, if_exists = "append")

63